@import '../../styles/utils';

.Pagination {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-top: 30px;
  margin-bottom: 15px;
  color: #fff;

  &__page-button {
    display: inline-block;
    margin: 0 7px;
    padding: 10px 20px;
    // background-color: $lime-green;
    background-color: rgb(64, 108, 106);
    color: white;
    font-size: 16px;
    cursor: pointer;
    @include green-shadow;
    transition: box-shadow 0.3s;
    outline: none;
  
    &--active {
      // background-color: $active-green;
      background-color: rgb(128, 190, 131);
      color: #000;
    }
  
    &:hover {
      box-shadow: 0 0 10px 5px $shadow-green;
    }
  }
}
