@import '../../styles/utils';

.Character {
  position: relative;
  display: flex;
  box-shadow: 0 0 10px 3px $dark-blue;
  background-color: #fff;
  transition: box-shadow 0.3s;
  cursor: pointer;
  
  &:hover {
    box-shadow: 0 0 10px 7px $shadow-green;
  }
  
  &--dead {
    .Character__picture {
      filter: saturate(0);
    }

    .Character__picture::before {
      position: absolute;
      z-index: 2;
      content: "";
      bottom: 0;
      left: -60px;
      width: 200px;
      height: 50px;
      background-color: #000;
      transform: rotate(45deg);
    }
  }

  &--unknown {
    .Character__picture::before {
      position: absolute;
      z-index: 1;
      content: "?";
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      font-size: 160px;
      color: rgba($color: #000000, $alpha: 1);
      background-color: rgba($color: #fff, $alpha: 0.5);
    }
  }

  &__index {
    position: absolute;
    z-index: 2;
    content: "";
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    height: 40px;
    background-color: #fff;
    font-size: 34px;
  }

  &__picture {
    position: relative;
    margin-right: 30px;
    min-width: 200px;
    max-width: 200px;
    height: 200px;
    overflow: hidden;
  }

  &__image {
    display: block;
    object-fit: cover;
    width: 100%;
  }

  &__info {
    padding: 15px 20px 15px 0;

    &-icon {
      display: block;
      width: 20px;
      height: 20px;
      color: $lime-green;

      position: relative;
      right: 0;
    }
  }
}