@import '../../styles/utils';

.Episodes {
  &__title {
    color: #fff;
  }

  &__info {
    margin-bottom: 40px;
    font-size: 24px;
    color: #fff;
  }
  
  &__table {
    margin-top: 30px;
    width: 100%;
    background-color: #fff;
    border-collapse: collapse;
    @include green-shadow;

    thead {
      font-weight: 700;
    }

    tbody tr {
      border-top: 1px solid $dark-blue;
    }

    td {
      padding: 7px 20px;
    }
  }
}
